doctype html
// views/index.jade
head
    meta(charset='UTF-8')
    | &#x9;
    title Live Auction
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')
    | &#x9;
    script(src='scripts/es6-shim/es6-shim.min.js')
    | &#x9;
    script(src='scripts/systemjs/dist/system-polyfills.js')
    | &#x9;
    script(src='scripts/angular2/bundles/angular2-polyfills.js')
    | &#x9;
    script(src='scripts/systemjs/dist/system.src.js')
    | &#x9;
    script(src='scripts/rxjs/bundles/Rx.js')
    | &#x9;
    script(src='scripts/angular2/bundles/angular2.dev.js')
    | &#x9;
    script(src='scripts/angular2/bundles/http.dev.js')
    | &#x9;
    script(src='javascripts/jquery.js')
    | &#x9;
    script(src='javascripts/bootstrap.min.js')
    | &#x9;
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    | &#x9;
    link(href='stylesheets/style.css', rel='stylesheet')
    | &#x9;
    script.
        System.config({
            packages: {
                app: {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('javascripts/app/main.js')
            .then(null, console.error.bind(console));
body
    auction-holder Loading...
    | &#x9;
    message-app Loading...
    | &#x9;
    label #{currentAuctions.length}
    createAuction-app Loading...
    | &#x9;

