doctype html
// views/index.jade
html
  head
    title Contract Auction - Welcome
    | &#x9;
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      .jumbotron.text-center
        h1
          |  Welcome to Contract Auction
        |             
        p Login or Register with:
        |             
        a.btn.btn-lg.btn-primary(href='/login')
          span.fa.fa-user
          |  Login
        |             
        a.btn.btn-lg.btn-primary(href='/signup')
          span.fa.fa-user
          |  Sign up
