doctype html
// views/index.jade
html
  head
    title Contract Auction - Welcome
    | &#x9;
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      .jumbotron.text-center
        h1
          |  Welcome to Contract Auction
        |             
        p Login or Register with:
        | &#x9;
        a(href='/login')
          button.btn.btn-lg
            span.fa.fa-user
            |  Login
        | &#x9;
        a(href='/signup')
          button.btn.btn-lg
            span.fa.fa-user
            |  Sign up
