doctype html
// views/login.jade
html
  head
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Contract Auction - Login
    | &#x9;
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
  body.bg
    .container
      .col-sm-6.col-sm-offset-3
        h1
          |  Login
          if message.length
            .alert.alert-danger= message
        form(action='/login', method='post')
          .form-group
            label Username
            | &#x9;&#x9;&#x9;
            input.form-control(type='text', name='username')
          | &#x9;&#x9;
          .form-group
            label Password
            | &#x9;&#x9;&#x9;
            input.form-control(type='password', name='password')
          | &#x9;&#x9;
          .form-group
            label Remember Me
            | &#x9;&#x9;&#x9;
            input.form-control(type='checkbox', name='remember' value='yes')
          | &#x9;&#x9;
          button.btn.btn-lg(type='submit') Login
          | &#x9;
          hr
          | &#x9;
          p
            | Need an account?
            a(href='/signup') Signup
          | &#x9;
          p
            | Or go
            a(href='/') home
            | .