doctype html
// views/profile.jade
html
  head
    title Contract Auction - Profile
    | &#x9;
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      .page-header.text-center
        h1
          |  Profile Page
        | &#x9;&#x9;
        a.btn.btn-default.btn-sm(href='/logout') Logout
      | &#x9;
      .row
        // LOCAL INFORMATION
        .col-sm-6
          .well
            h3
              span.fa.fa-user
              |  Local
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              strong id
              | :
