doctype html
// views/signup.jade
html
  head
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Contract Auction - Sign up
    | &#x9;
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
    link(rel="stylesheet" href='stylesheets/font-awesome/css/font-awesome.min.css')
  body.bg
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
          |  Sign up
          if message.length
            .alert.alert-danger= message
        form(action='/signup', method='post')
          .form-group
            span.fa.fa-user-o
            | &#x9;
            label Username
            | &#x9;&#x9;&#x9;
            input.form-control(type='text', name='username')
          | &#x9;&#x9;
          .form-group
            span.fa.fa-envelope-o
            | &#x9;
            label Email
            | &#x9;&#x9;&#x9;
            input.form-control(type='email', name='email' placeholder="e.g. me@mymail.com")
          | &#x9;&#x9;
          .form-group
            span.fa.fa-phone
            | &#x9;
            label Contact Number (Including area code)
            | &#x9;&#x9;&#x9;
            input.form-control(type='number', placeholder="e.g. 0141123456" name='contactNumber' onkeypress='return event.charCode >= 48 && event.charCode <= 57>' pattern=".{8,}" required)
          | &#x9;&#x9;
          .form-group
            span.fa.fa-map-marker
            | &#x9;
            label Address Details (will not be used)
            | &#x9;&#x9;&#x9;
            div.input-group
              span.input-group-addon Number
              input.form-control(type='text', name='addressNum' placeholder="e.g. 109")
              span.input-group-addon Post Code
              input.form-control(type='text', name='postcode' placeholder="e.g. G11 0NS")
          | &#x9;&#x9;
          .form-group
            label Choose an account type
            | &#x9;&#x9;&#x9;
            select.form-control(name='accountType')
              - var options = [{value: 'contractor', label: 'Contractor'}, {value: 'Contract Issuer', label: 'Contract Issuer'}]
              each option in options
                option(value=option.value, selected=(option.value))= option.label
          | &#x9;&#x9;
          .form-group
            label Password
            | &#x9;&#x9;&#x9;
            input.form-control(type='password', name='password')
          | &#x9;&#x9;
          button.btn.btn-lg.btn-wide(type='submit') Signup
          | &#x9;
          hr
          | &#x9;
          p
            | Already have an account?
            a(href='/login') Login
          | &#x9;
          p
            | Or go
            a(href='/') home
            | .