doctype html
// views/signup.jade
html
  head
    title Contract Auction - Sign up
    | &#x9;
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
          |  Sign up
          if message.length
            .alert.alert-danger= message
        form(action='/signup', method='post')
          .form-group
            label Username
            | &#x9;&#x9;&#x9;
            input.form-control(type='text', name='username')
          | &#x9;&#x9;
          .form-group
            label Password
            | &#x9;&#x9;&#x9;
            input.form-control(type='password', name='password')
          | &#x9;&#x9;
          button.btn.btn-lg(type='submit') Signup
          | &#x9;
          hr
          | &#x9;
          p
            | Already have an account?
            a(href='/login') Login
          | &#x9;
          p
            | Or go
            a(href='/') home
            | .