<navbar (buttonChoice)='onMenuChoice($event)'></navbar>
<auction-holder *ngIf="buttonClickVal=='auctions'" user = {{user}}></auction-holder>
<result-holder *ngIf="buttonClickVal=='myAuctions'"></result-holder>
<unresolved-holder *ngIf="buttonClickVal=='unresolved'" ></unresolved-holder>
<profile *ngIf="buttonClickVal=='profile'"></profile>
<user-management-app *ngIf="buttonClickVal=='usersPage'"></user-management-app>
<issue-management-app *ngIf="buttonClickVal=='issues'"></issue-management-app>
<notifications></notifications>