
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Contract Auction</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a name="auctions" href="#" (click)="setMenuOption(auctions)" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Auctions<span class="sr-only">(current)</span></a></li>
                <li><a href="#" (click)="setMenuOption(myAuctions)" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">My Auctions</a></li>
                <li *ngIf="accountType=='Contract Issuer'"><a href="#" (click)="setMenuOption(unresolved)" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Unresolved</a></li>
                <li><a href="#" (click)="setMenuOption(profile)" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Profile</a></li>
                <li><a href="/logout" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>