body {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 10%;
  font: 125% "Century Gothic", bold, sans-serif;
}

a {
  color: white;
}

button {
  background-color: #5bc0de;
}

small{
  color: darkred;
}

.inline{
  display: inline;
}

.rightPad {
  float: right;
}

.bg{
  background: url('../images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no-click{
  pointer-events: none;
}

.panel-auction {
  border-color: transparent;
}

.panel-auction > .panel-heading {
  background: darkgray;
  color: white;
  border-color: darkgray;
}

.panel-auction > .panel-heading-2 {
  background: white;
  color: darkgray;
  border-color: darkgray;
}

.footer {
  position:fixed;
  right:2%;
  bottom:2%;
}

.footer-r {
  text-align: center;
  float: right;
}

.button-round {
  width: 140%;
  height: 100%;
  border-radius: 50%;
  font-size: 400%;
  color: white;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.button-round:hover {
  color: darkgray;
}

.btn-orange {
  background-color: #5bc0de;
}

/* nav bar stuff*/
.navbar-default {
  background-color:#5bc0de;
  background-repeat: no-repeat;
}

.nav.navbar-nav li a {
  color: white !important;
}
.nav .navbar-nav li a:hover {
  color: purple !important;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

div ul{width:100%;}
div ul{overflow:hidden; overflow-y:scroll;}
.msg{width: 100%;}
