<div class="panel panel-auction">

    <div>
        <button type="button" class="btn btn-wide btn-orange" data-toggle="modal" data-target="#filterModal">
            <i class="fa fa-filter" aria-hidden="true"></i> Filter Settings
        </button>
    </div>

    <div class="modal fade" id ="filterModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter Settings</h4>
                </div>

                <div class="modal-body">
                    <p>Select a contract type: </p>
                    <select #selectOption (change)="filterSettings=selectOption.value" class="form-control">
                        <option value="All" [selected]="filterSettings==='All'">All</option>
                        <option value="Domestic" [selected]="filterSettings==='Domestic'">Domestic</option>
                        <option value="Commercial" [selected]="filterSettings==='Commercial'">Commercial</option>
                    </select>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <h4 class="panel-heading-2">{{filterSettings}} auctions below: </h4>
    <div *ngFor="#aucInfo of arrayOfAucs">
        <auction-app
                *ngIf="filterSettings==='All' || filterSettings === auctions[aucInfo].contractType"
                auction = auctions[aucInfo] id = {{auctions[aucInfo].id}} name = {{auctions[aucInfo].name}}
                desc = {{auctions[aucInfo].description}} username = {{user}} protocol = {{auctions[aucInfo].protocol}}
                contractType = {{auctions[aucInfo].contractType}} [creator]="auctions[aucInfo].creatorID"
                http = {{http}}>
        </auction-app>
    </div>
</div>