<div class="container" >
    <!-- Trigger the modal with a button -->
    <div *ngIf="accountType=='Contract Issuer'" class="footer">
        <button type="button" class="btn btn-lg footer-r button-round" data-toggle="modal" data-target="#myModal">+</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create a job auction</h4>
                </div>

                <div class="modal-body">
                    <p>Please enter the details of the job below: </p>
                        <form class="form-horizontal" id='createAuctionForm' role="form" [ngFormModel]="CreateGroup">
                            <br>

                            <div>
                                Select a contract type:
                                <select #selectOptionConType (change)="formInputs.contractType=selectOptionConType.value" class="form-control" ngControl="contractType">
                                    <option value="Domestic" [selected]="formInputs.contractType==='Domestic'">Domestic</option>
                                    <option value="Commercial" [selected]="formInputs.contractType==='Commercial'">Commercial</option>
                                </select>

                                <small *ngIf="!CreateGroup.controls['contractType'].valid">You must select a contract type.</small>
                            </div>
                            <br>

                            <div>
                                Select a trade/profession type:
                                <select #selectOptionTrade (change)="formInputs.tradeType=selectOptionTrade.value" class="form-control" ngControl="tradeType">
                                    <option *ngFor="#tradeType of tradeTypes"
                                            value= {{tradeType}}
                                            [selected] ="formInputs.tradeType === tradeType">
                                            {{tradeType}}
                                    </option>
                          <!--          <option value="Plumbing" [selected]="formInputs.tradeType==='Plumbing'">Plumbing</option>
                                    <option value="Electrician" [selected]="formInputs.tradeType==='Electrician'">Electrician</option>
                                    <option value="Joinery" [selected]="formInputs.tradeType==='Joiner'">Joinery</option>
                                    <option value="Masonry" [selected]="formInputs.tradeType==='Masonry'">Masonry</option>
                                    <option value="Cleaning Services" [selected]="formInputs.tradeType==='Cleaning Services'">Cleaning</option>
                                    <option value="Painting & Decorating" [selected]="formInputs.tradeType==='Painting & Decorating'">Painting & Decorating</option>
                                    <option value="Software Development" [selected]="formInputs.tradeType==='Software Development'">Software Development</option>-->
                                </select>

                                <small *ngIf="!CreateGroup.controls['tradeType'].valid">You must select a trade type.</small>
                            </div>
                            <br>

                            <div>
                                Name:
                                <input type = "text" name = "name" [(ngModel)]="formInputs.auctionName" class="form-control" ngControl="auctionName">
                                <small *ngIf="!CreateGroup.controls['auctionName'].valid">You must enter a name.</small>
                            </div>
                            <br>

                            <div>
                                Description (what the job entails):
                                <textarea type = "text" [(ngModel)]="formInputs.auctionDesc" class="form-control" ngControl="auctionDesc">
                                Enter a description of the job here...
                                </textarea>
                                <small *ngIf="!CreateGroup.controls['auctionDesc'].valid">You must enter a description.</small>
                            </div>
                            <br>

                            <div>
                                Length of Auction(in days):
                                <input type="text" [(ngModel)]="formInputs.length" class="form-control" ngControl="length">
                                <small *ngIf="!CreateGroup.controls['length'].valid">You must enter a length, it must be a number and greater than 0.</small>
                            </div>
                            <br>

                            <div>
                                Pick a protocol:
                                <select #selectOptionProto (change)="formInputs.protocol=selectOptionProto.value" class="form-control" ngControl="protocol">
                                    <option> select</option>
                                    <option value="English" [selected]="formInputs.protocol==='English'">English</option>
                                    <option value="Dutch" [selected]="formInputs.protocol==='Dutch'">Dutch</option>
                                    <option value="1st-price-sealed" [selected]="formInputs.protocol==='1st-price-sealed'">1st-price Sealed-Bid</option>
                                    <option value="2nd-price-sealed" [selected]="formInputs.protocol==='2nd-price-sealed'">2nd-price Sealed-Bid</option>
                                </select>
                                <small *ngIf="!CreateGroup.controls['protocol'].valid">You must select a protocol.</small>

                            </div>
                            <br>

                            <div *ngIf="formInputs.protocol == 'Dutch' || formInputs.protocol == 'English'">
                                <p *ngIf="formInputs.protocol == 'Dutch'">Pick a max price for the auction(this price will not be exceeded):</p>
                                <p *ngIf="formInputs.protocol == 'English'">Pick a starting price for the auction(this should be an officially retrieved from qualified
                                    personnel):</p>
                                <input [(ngModel)]="formInputs.maxGuidePrice" ngControl="maxGuidePrice" type="text" class="form-control">
                                <small *ngIf="!CreateGroup.controls['maxGuidePrice'].valid">You must enter a starting price, in numbers (whole).</small>
                            </div>

                            <br>

                            <br>
                            <br>

                        </form>
                    <br>
                    <div>
                        <a data-dismiss="modal">
                            <button type="button" [disabled]='!CreateGroup.valid' (click)="addNewGroup(formInputs)" data-dismiss="modal" class ="btn btn-lg btn-wide">
                                Create
                            </button>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>


