<div class = "inline rightPad">
    <button type="button" class="btn" data-toggle="modal" [attr.data-target]="'#messageModal-' + id">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
    </button>
</div>

<div class="modal fade" [id] ="'messageModal-' + id" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Auction Messages</h4>
            </div>

            <div class="modal-body">
                <ul class ="list-group">
                    <li class="list-group-item" *ngFor="#message of messages">
                        {{message}}
                    </li>

                </ul>

                <input class="msg form-control" placeholder="Enter your message here" [(ngModel)]="currentMessage" >

                <br>
                <br>
                <button class = "btn btn-lg btn-wide" (click)="sendMsg()">SEND</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


